[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-autoapi = "==1.8.1"
sphinx-rtd-theme = "==0.5.2"
docutils = "==0.16.0"
Sphinx = "==3.2.1"
twine = "*"
mypy = "*"
black = "*"
jinja2 = "<3.1"

[packages]
msdparser = "~=2.0.0"
pyfakefs = "~=4.5.6"
fs = "~=2.4.15"

[requires]
python_version = "3.7"
allow_prereleases = true

[pipenv]
allow_prereleases = true
