[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-autoapi = "==1.8.1"
sphinx-rtd-theme = ">=0.5.0"
Sphinx = "==3.2.1"

[packages]
msdparser = ">=1.0.0-alpha.3"
pyfakefs = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
