.py em:first-of-type:last-of-type::before,
.py em:first-of-type:last-of-type::after,
.py em:first-of-type + span + span + em.sig-param:last-of-type::before,
.py em:first-of-type + span + span + em.sig-param:last-of-type::after,
.py em:first-of-type + span + span + span + em.sig-param:last-of-type::before,
.py em:first-of-type + span + span + span + em.sig-param:last-of-type::after {
    content: "";
}

/* from https://github.com/sphinx-doc/sphinx/issues/1514#issuecomment-742703082 */

/* Newlines (\a) and spaces (\20) before each parameter */
.sig-param::before {
    content: "\a\20\20\20\20\20\20\20\20";
    white-space: pre;
}

/* Newline after the last parameter (so the closing bracket is on a new line) */
dt em.sig-param:last-of-type::after {
    content: "\a";
    white-space: pre;
}

/* To have blue background of width of the block (instead of width of content) */
dl.class > dt:first-of-type {
    display: block !important;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.666rem;
}

h4 {
    font-size: 1.333rem;
    opacity: 0.9;
}

h5 {
    font-size: 1rem;
    opacity: 0.8;
}